<!DOCTYPE html>
<html lang="en" ng-app="Client">
    <header>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Needed for removal of hashbang in Client root URL (i.e. #!) -->
        <base href="/">
        <title>Angular 1.x UI Router</title>
        <!-- External style dependencies -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
        <!-- End: External style dependencies -->
        <!-- Internal style dependencies -->

        <!-- End: Internal style dependencies -->
    </header>
    <body ng-cloak ng-controller="UploadVM as vm">
        <div class="jumbotron" style="padding: 50px 50px 50px 50px;">
            <h1>AWS Image File Upload</h1>
            <hr />
            <h2>{{vm.message}}</h2>
            <hr />
            <h2>Uploading image files</h2>
            <form name="UploadForm" novalidate ng-submit="vm.upload()" autocomplete="off">
                <div class="form-group">
                    <label for="uploadImg">File input</label>
                    <input type="file" id="file" ng-model="vm.uploads.img" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'"/>
                    <p class="help-block">You can upload an image here</p>
                </div>
                <div class="form-group">
                    <img class="img-thumbnail" ngf-thumbnail='vm.uploads.img' width="500px" alt="Image thumbnail" />
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">
                        Upload image onto client-side local storage
                    </button>
                </div>
                <div class="alert" role="alert" alert-dismissable ng-show="vm.status.code" ng-class="{'alert-success': vm.status.code == 200, 'alert-danger': vm.status.code == 400 }">
                    <button class="close" data-dismiss="alert">
                        <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
                        &times;
                    </button> {{ vm.status.message }}
                </div>
            </form>
            <hr />
            <form name="UploadS3Form" novalidate ng-submit="vm.uploadS3()" autocomplete="off">
                <div class="form-group">
                    <label for="uploadImg">File input</label>
                    <input type="file" id="file2" ng-model="vm.uploads.imgS3" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'" />
                    <p class="help-block">You can upload an image here</p>
                </div>
                <div class="form-group">
                    <img class="img-thumbnail" ngf-thumbnail='vm.uploads.imgS3' width="500px" alt="Image thumbnail" />
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">
                        Upload image onto server-side AWS S3
                    </button>
                </div>
                <div class="alert" role="alert" alert-dismissable ng-show="vm.status.code" ng-class="{'alert-success': vm.status.code == 200, 'alert-danger': vm.status.code == 400 }">
                    <button class="close" data-dismiss="alert">
                        <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
                        &times;
                    </button> {{ vm.status.message }}
                </div>
            </form>
        </div>

        <img src="https://s3-ap-southeast-1.amazonaws.com/woodysee/1509704240209-ed293fee74b6c363436f51975dbf9cb9.jpg" alt="" />

    </body>
    <!-- External script dependencies -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.min.js"></script>
    <!-- End: External script dependencies -->
    <!-- Internal script dependencies -->
    <script type="text/javascript" src="client.module.js"></script>
    <script type="text/javascript" src="upload.vm.js"></script>
    <!-- End: Internal script dependencies -->
</html>
